.update-game-form {
  margin-top: 2%;
  z-index: 1;
  background: #ffffff;
  max-width: 500px;
  margin: 10px auto 100px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  
}

.input{
   text-align: left;
}

.update-button{
background-color: #1657f3;
  font-weight: bold;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  margin-top: 9px;
}

.update-button:hover{
     background-color: #477beb;
}