.dropdown {
  background-color: white;
  border: 1px solid gray;
  z-index: 1;
  position: absolute;
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}