.dropdown {
  background-color: white;
  max-width: 19rem;
  max-height: 18rem;
  border: 1px solid gray;
  z-index: 1;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 7px;
}

.dropdown::-webkit-scrollbar {
  display: none;
}
.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  padding: 6px 16px;
  /* width: 100%; */
  /* height: 50px; */
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  color: black;
  list-style-type: none;
}

.form-input {
  width: 19rem;
  height: 38px;
  border-radius: 7px;
}

a {
  text-decoration: none;
}
