.usercard{
    margin: 10px;
    box-shadow: 8px 0px 10px rgba(0, 0, 0, 0.5);
   

}

.userImage{
    width:200px;
    height: 200px;
    margin-bottom: 10px;
   
}

.dropdown-userLocation{
    width: auto;
    text-align: center;
    margin: auto;
}
