.usercard{
    margin: 20px;
     box-shadow: 8px 0px 10px rgba(48, 74, 222, 0.5);

}

.userImage{
    width:200px;
    height: 200px;
    margin-bottom: 10px;
   
}

.dropdown-userLocation{
    width: auto;
    text-align: center;
    margin: auto;
}

.userrow{
    margin-left: 4.8%;
    margin-top: 1%;
}