.signout{
  border: 1px solid transparent;
  background: #4285f4;
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
  display: inline-block;

  transition: 0.5s;
  outline: none;
  cursor: pointer;
  margin: 10px;
  box-shadow: 6px 6px 0 0 #6f4cff99, 5px 5px 0 0 #6f4cff99,
    4px 4px 0 0 #6f4cff99, 3px 3px 0 0 #6f4cff99, 2px 2px 0 0 #6f4cff99,
    1px 1px 0 0 #6f4cff99;
  border-radius: 8px;
  font-size: 100%;
}

/* .signout:hover {
  transform: translateY(5px);
  box-shadow: none;
} */
