.home-title {
  font-size: 40px;
  color: rgb(43, 26, 222);
  background-image: linear-gradient(60deg, #aa23e9, #45adf7);
  background-clip: text;
  color: transparent;
  font-family: 'Press Start 2P';
}
