.home-title {
  font-size: 40px;
  color: rgb(43, 26, 222);
  background-image: linear-gradient(60deg, #aa23e9, #45adf7);
  background-clip: text;
  color: transparent;
  font-family: 'Press Start 2P';
  margin-top: 2%;
}

.start-btn {
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
  font-family: 'Press Start 2p';
  font-size: 22pt;
}
.start-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}
